{% extends 'base.html' %}

{% block content %}
    <h1 class='request-title'>{% block title %} Duck or Cat {% endblock %}</h1>
    <img class="request-image" id="image" src="{{path_image}}" alt="" />
    <h3 class='request-subtitle'>{% block subtitle %} {{duck_prob}}% / {{cat_prob}}% {% endblock %}</h3>
    
    <div class="percent">
        <h3 class='request-subtitle'>Duck</h3>
        <div class="percent-bar-outline">
            <div class="percent-bar-duck" style="width:{{duck_prob}}%"></div>
            <div class="percent-bar-cat" style="width:{{cat_prob}}%"></div>
        </div>
        <h3 class='request-subtitle'>Cat</h3>
    </div>

    <div class="request-buttons" style="display:flex;">
        <a href="/" style="margin:auto;">
            <button class="btn btn-outline-warning">Try another</button>
        </a>
    </div>
{% endblock %}