{% extends 'base.html' %}

{% block content %}
    <h1 class='request-title'>{% block title %} Duck or Cat {% endblock %}</h1>
    <h3 class='request-subtitle'>{% block subtitle %} Upload a picture of a duck or a cat {% endblock %}</h3>
    <img class="request-image" id="image" src="#" alt="" />
    <form action="{{ url_for('response') }}" method="post" enctype="multipart/form-data">
        <div class="request-buttons">
            <label class="request-label btn btn-warning" for="imgPreview">Choose a file</label>
            <button class="request-submit btn btn-outline-warning" type="submit">Submit this image</button>
        </div>
        <input class="request-input" accept="image/*"  name="image" type='file' id="imgPreview"  />
        <input class="request-input" accept="image/*"  name="image2" type='hidden' value="test" />
    </form>
{% endblock %}