@import './background.css';

.request-title,
.request-subtitle {
    text-align: center;
    color: #E0FBFC;
}

.request-label {
    margin-top: 8px;
}

.request-buttons {
    width: 100%;
}

.request-input {
    display: none;
}

.request-image {
    width: 400px;
    object-fit: contain;
    display: block;
    margin: 12px auto;
}

img {

    border-radius: 50px;
}

.container {
    display: table;
    width: 100%;
    margin: 5% 10%;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.percent {
    display: flex;
    width: 70%;
    margin: auto;
}

.percent-bar-outline {
    width: 100%;
    height: 24px;
    display: flex;
    border-radius: 12px;
    margin: 12px;
}

.percent-bar-duck {
    height: 16px;
    margin: 4px 0 0 4px;
    padding: 8px;
    background-image: linear-gradient(to right, #097443, #17A457);
    border-radius:  12px 0 0 12px;
}

.percent-bar-cat {
    height: 16px;
    margin: 4px 4px 0 0;
    padding: 8px;
    background-image: linear-gradient(to right, #C8863F, #A1591F);
    border-radius: 0 12px 12px 0;
}